<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @movie.gender.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @movie.rank %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
